@charset "utf-8";
/* CSS Document */
#section {
	width:90%;
	margin:20px 5%;
}
#section h4 {
	font-size:14px;
	line-height:36px;
	color:#000;
	font-weight:normal;
	float:left;
}
#section select {
	width:120px;
	font-size:12px;
	line-height:30px;
	height:30px;
	margin:3px auto;
	color:#323232;
	float:left;
	text-align:center;
	border-radius:4px;
	background-color:#f6fbfe;
	border:1px solid #5bbbff;
}
#section li {
	width:100px;
	font-size:12px;
	line-height:30px;
	height:30px;
	margin:3px 8px 0px 0px;
	color:#323232;
	float:left;
	text-align:center;
	border-radius:4px;
	background-color:#f6fbfe;
	border:1px solid #5bbbff;
}
#section .currentstyle {
	background-color:#5bbbff;
	color:#fff;
}
/*#section .prebox {
	width:100%;
	background-color:#ddf1ff;
	border:1px solid #5bbbff;
	border-radius:4px;
	margin:10px auto 20px;
	padding:10px 6px;
}*/
#section .prebox .pre {
	width:100%;
	background-color:#ddf1ff;
	border:1px solid #5bbbff;
	border-radius:4px;
	margin:10px auto 20px;
	padding:10px 6px 2px;
}
#section .prebox h4 {
	font-size:14px;
	line-height:32px;
	color:#000;
	font-weight:normal;
	float:left;
}

#section .prebox input[type = datetime-local] {
	width:180px;
	font-size:14px;
	line-height:28px;
	height:28px;
	margin:3px auto;
	color:#323232;
	float:left;
	text-align:center;
	border-radius:4px;
	background-color:#f6fbfe;
	border:1px solid #5bbbff;
}
#section .prebox span {
	text-indent:32px;
	display:inline-block;
	font-size:12px;
	color:#323232;
	line-height:24px;
}
#section .prebox h5 {
	font-size:12px;
	color:#323232;
	font-weight:normal;
	line-height:24px;
	margin:4px 0px 0px;
	float:left;
}
#section .prebox input[type = checkbox] {
	width:12px;
	height:12px;
	margin:9px 2px 0px 0px;
	float:left;
}

#section .prebox .pre:nth-child(2) {
	display:none;
}
#section .prebox #adress {
	border:1px solid #5bbbff;
	background-color:#f6fbfe;
	padding:8px;
	margin:5px auto 10px;
}
#section .prebox #adress > .hgroup {
	width:90%;
	float:left;
}
#section .prebox #adress > .hgroup h3 {
	float:left;
	font-size:14px;
	line-height:24px;
	color:#323232;
}
#section .prebox #adress > .hgroup h4 {
	float:none;
	display:inline;
	font-size:14px;
	line-height:24px;
	color:#323232;
	font-weight:normal;
}
#section .prebox #adress img {
	height:30px;
	float:right;
	margin:22.5px 0px;
}
#section .prebox input[type = text] {
	width:74%;
	height:28px;
	margin:2px 0px;
	float:left;
	border-radius:4px;
	background-color:#f6fbfe;
	border:1px solid #5bbbff;
	font-size:12px;
	color:#323232;
}
#section .prebox .pre .other {
	float:none;
	display:inline-block;
	margin:0px 15px 0px 0px;
}




@media (min-width:375px) and (max-width:480px) {
	#section h4,#section .prebox #adress > .hgroup h3,#section .prebox #adress > .hgroup h4 {
		font-size:16px;
	}
	#section select,#section li,#section .prebox h4,#section .prebox input[type = datetime-local],#section .prebox span,#section .prebox h5,#section .prebox input[type = text] {
		font-size:14px;
	}
	#section li {
		width:120px;
	}
}
@media (min-width:481px) and (max-width:621px) {
	#section h4,#section .prebox #adress > .hgroup h3 {
		font-size:18px;
	}
	#section select,#section li,#section .prebox h4,#section .prebox input[type = datetime-local],#section .prebox span,#section .prebox h5,#section .prebox #adress > .hgroup h4,#section .prebox input[type = text] {
		font-size:16px;
	}
	#section li {
		width:120px;
	}
}
@media (min-width:622px) {
	#section h4,#section .prebox #adress > .hgroup h3 {
		font-size:20px;
	}
	#section select,#section li,#section .prebox h4,#section .prebox input[type = datetime-local],#section .prebox span,#section .prebox h5,#section .prebox #adress > .hgroup h4,#section .prebox input[type = text] {
		font-size:18px;
	}
	#section li {
		width:120px;
	}
}

